.chat-message-robot{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.chat-message-user{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}
.chat-message-text{
    display: inline-block;
    display : flex;
    padding : 15px 20px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    font-family: arial;
    max-width: 300px;
    margin-bottom: 20px;
}