.chat-input{
    width: 500px;
    height: 25px;
    font-size: 16px;
    padding: 8px;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 10px;
    padding-left: 15px;
    font-size: 15px;
}
.chat-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    left: 468px;
    z-index: 1000;
    margin-bottom: 15px;
    margin-bottom: 60px;
}
.send-button{
    width: 75px;
    height: 43px; 
    font-size: 16px;
    background-color: rgb(37, 129, 86);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
}